@page
@model RPL.CommonUI.MyFeature.Pages.Page1Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/demo.css" />
    <title>Page1</title>
</head>
<body>
    <h1>This is from CommonUI.Page1</h1>
</body>
</html>
